@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

body {
    background: #fceed1;
    color: rgb(62, 41, 46);
    font-family: "Domine", serif;
    font-size: 2em;
}

a {
    color: rgb(62, 41, 46);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

main {
    text-align: center;
    white-space: nowrap;
    width: 90%;
}

input {
    background: #fceed1;
    border-color: rgb(62, 41, 46);
    border-style: solid;
    border-width: 0px 0 0.1em 0;
    font-family: inherit;
    font-size: inherit;
    color: rgb(130, 73, 73);
    text-align: center;
}